<div class="head-container">
  <div class="ui main text container wider">
    <h1 class="ui header">"Equipped with his five senses, man explores the universe around him and calls the adventure Science."</h1>
    <p>- Edwin Powell Hubble</p>
  </div>

  <div class="ui borderless main menu nav">
    <div class="ui text container wider">
      <div href="#" class="header logo">
        <a class="item"><i class="rocket icon"></i></a>
      </div>
      <div class="ui right floated item">
        <a href="#" class="item">Credits</a>
        <a href="#" class="ui dropdown item">
          About <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">forksociety</div>
            <div class="item">License</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
