.head-container {
    padding-top: 2em;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);    
    background-image: url('http://www.planwallpaper.com/static/images/ZhGEqAP.jpg');
}

.header.logo a i, .logo{
	font-size: 32px !important;
	color: rgb(140, 200, 75) !important;
}
.header.logo a {
	padding: 0.45em !important;
}

.head-container .ui.text.container, .head-container .ui.text.container h1 {
	color: #fff !important;
}

.main.container {
	margin-top: 0em !important;
}

.ui.text.container.wider {
	max-width: 800px !important;
}
	
.ui.text.container.custom {
	margin-top: 32px;
}

.ui.right.floated.item {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.ui.link.cards .card:hover {
	cursor: auto !important;
}

.card .extra.content {
	font-size: 12px !important;
}