<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>

  <div class="ui text container custom wider">
    <div class="ui three raised stackable cards">   

    <% users.forEach(function(u) { %>
        <% include ../partials/user_card.ejs %>
    <% }); %>

      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>

</body>
</html>
